body{
    margin: 0px;
    padding: 0px;
    width: 1440px;
    font-family: 'Red Hat Display';
    background-color: hsl(225, 100%, 94%);
}

#hero{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 35%;
    margin-top: 5%;
}

.container-txt{
    margin-left: 35%;
    margin-top: -30px;
    padding: 60px;
    max-width: 330px;
    background-color: hsl(0, 100%, 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1{
    text-align: center;
}

p#songs{
    text-align: center;
    color: hsl(224, 23%, 55%);
    padding: 0px 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.annual{
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    margin: -10px;
    border-radius: 10px;
    line-height: 1;
}

p#change{
    display: flex ;
    justify-content: right;
    margin-top: -50px;

}

p#cancel{
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    text-align: center;
}

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}